<% content_for :header do -%>
	Sprints do Projeto <%= @project.name %>
<% end -%>
<ul style="list-style-type:none">
<% for sprint in @sprints %>
  <li style="color:<%= sprint.current? ? "black" : "gray" %>" >
    <span style="font-size:1.2em; font-weight:bold">
    #<%=h sprint.position %>-<%=h sprint.goal %>
    </span>&nbsp;
    <span style="font-size:1em">(<%=h sprint.total_estimate %> pontos)</span>
    <span style="font-size:1em">(<%=h sprint.start_date %> até <%=h sprint.end_date %>)&nbsp;
  <%= link_to 'editar', edit_project_sprint_path(@project, sprint) %> | <%= link_to 'estórias', assign_stories_project_sprint_path(@project, sprint) %> | <%= link_to 'excluir', project_sprint_path(@project, sprint), :confirm => 'Confirma ?', :method => :delete %>
  </span>
  </li>
  <li>
    <h4>Estórias</h4>
    <ul>
      <% for story in sprint.stories %>
      <li>
        <%= h story.title %> - Pontos: (<%= h(story.estimate.nil? ? "ainda não definido" : story.estimate) %>)
      </li>
      <% end %>
    </ul>
  </li>
<% end %>
</ul>
<br />

<%= link_to 'novo sprint', new_project_sprint_path(@project) %>
<%= link_to 'voltar', project_path(@project) %>
