<% content_for :header do -%>

	<%= @project.name %> - Estórias do Spring <%= @sprint.goal %>
<% end -%>


<% form_tag :action => "save_stories" do |f| %>

	<table>
	 <tr>
		<th></th>
    <th>Estórias</th>
  </tr>

	<% for story in @stories %>
		<% if @sprint.current?%>
		<tr>
		  <td>
				<input type="checkbox" value="<%=story.id%>" id="<%=story.id%>" name="story_ids[]" <% if @sprint.stories.include? story %> checked <%end%> />
		  <%=h story.title %></td>
		</tr>
		<% elsif @sprint.stories.include? story %>
		<tr>
			<td><input type="checkbox" disabled checked />
		  <%=h story.title %></td>
		</tr>
		<% end %>
	<% end %>
	</table>
  <p>
    <%= submit_tag "salvar" %>
  </p>
<% end %>


<%= link_to 'voltar', project_sprints_path(@project) %>
