<% content_for :header do -%>
  Lista de Projetos
<% end -%>

<ul>
<% for project in @projects %>
  <li><h3><%=h project.name %></h3>
    <ul>
      <li><%=h project.uri %></li>
      <li><%= link_to 'detalhar', project %> | <%= link_to 'editar', edit_project_path(project) %> | <%= link_to 'usuários', project_project_users_path(project) %> | <%= link_to 'wiki', project_wikis_path(project) %></li>
    </ul>
  </li>
<% end %>
</ul>

<br />

<p><%= link_to 'novo projeto', new_project_path %></p>
