<% content_for :header do -%>
Novo projeto
<% end -%>


<% form_for(@project) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name, "Nome" %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :uri, "Url" %><br />
    <%= f.text_field :uri %>
  </p>
  <p>
    <%= f.submit "criar" %>
  </p>
<% end %>

<%= link_to 'voltar', projects_path %>
