<% content_for :header do -%>
	Informações do Projeto
<% end -%>

<p>
  <b>Nome:</b>
  <%=h @project.name %>
</p>
<p>
  <b>Url:</b>
  <%=h @project.uri %>
</p>
<p>
	<%=link_to "Sprint atual", current_sprint_project_stories_path(@project) %></p>
<div>
	<h2>Usuários</h2>
	<ul>
	<% for project_user in @project.project_users %>
		<li><%=h project_user.user.login %> - <%=h project_user.user_type %> | <%= link_to 'remover', project_project_user_path(@project), :confirm => 'Confirma?', :method => :delete %></li>
	<%end%>
	</ul>
	<p><%= link_to 'gerenciar usuários', :controller => "project_users", :action => "edit", :project_id => @project %></p>
</div>

<div>
	<h2>Wiki</h2>
	<ul>
	<% for wiki in @project.wikis %>
		<li><%= h wiki.title %> - <%= link_to 'exibir', project_wiki_path(@project) %> | <%= link_to 'editar', edit_project_wiki_path(@project, wiki) %> | <%= link_to 'excluir', project_wiki_path(@project), :confirm => 'Confirma?', :method => :delete %></li>
	<%end%>
	</ul>
	<p><%= link_to 'nova página', :controller => "wikis", :action => "new", :project_id => @project %></p>
</div>

<div>
	<h2>Estórias</h2>
	<ul>
	<% for story in @project.stories.find(:all, :order => "") %>
		<li><%=h story.title %> </li>
	<%end%>
	</ul>
	<p><%= link_to 'gerenciar estórias', project_stories_path(@project) %></p>
</div>
<div>
	<h2>Sprints</h2>
	<ul style="list-style-type:none">
<% for sprint in @project.sprints %>
  <li style="color:<%= sprint.current? ? "black" : "gray" %>" >
    <span style="font-size:1.2em; font-weight:bold">#<%=h sprint.position %>-<%=h sprint.goal %></span>&nbsp;<span style="font-size:1em">(<%=h sprint.start_date %> até <%=h sprint.end_date %>)&nbsp;
  </li>
<% end %>
</ul>
	<p><%= link_to 'gerenciar sprints', project_sprints_path(@project) %></p>
</div>

<%=link_to "gerenciar sprints", project_sprints_path(@project) %>

<%= link_to 'editar', edit_project_path(@project) %> |
<%= link_to 'voltar', projects_path %>
