<% content_for :header do -%>
	Informações do Projeto
<% end -%>

<p>
  <b>Nome:</b>
  <%=h @project.name %>
</p>

<p>
  <b>Url:</b>
  <%=h @project.uri %>
</p>

<div>
	<h2>Usuários</h2>
	<ul>
	<% for project_user in @project.project_users %>
		<li><%=h project_user.user.login %> - <%=h project_user.user_type %> | <%= link_to 'remover', project_user, :confirm => 'Confirma?', :method => :delete %></li>
	<%end%>
	</ul>
	<p><%= link_to 'gerenciar usuários', :controller => "project_users", :action => "edit", :id => @project.id %></p>
</div>

<div>
	<h2>Wiki</h2>
	<ul>
	<% for wiki in @project.wikis %>
		<li><%= h wiki.title %> - <%= link_to 'exibir', wiki %> | <%= link_to 'editar', edit_wiki_path(wiki) %> | <%= link_to 'excluir', wiki, :confirm => 'Confirma?', :method => :delete %></li>
	<%end%>
	</ul>
	<p><%= link_to 'nova página', :controller => "wikis", :action => "new", :pid => @project.id %></p>
</div>

<div>
	<h2>Estórias</h2>
	<ul>
	<% for story in @project.stories %>
		<li><%=h story.title %> </li>
	<%end%>
	</ul>
	<p><%= link_to 'gerenciar estórias', project_stories_path(@project) %></p>
</div>

<%= link_to 'editar', edit_project_path(@project) %> |
<%= link_to 'voltar', projects_path %>
