<h1>Editing story</h1>

<% form_for(@story) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :as_a %><br />
    <%= f.text_field :as_a %>
  </p>
  <p>
    <%= f.label :i_want_to %><br />
    <%= f.text_area :i_want_to %>
  </p>
  <p>
    <%= f.label :so_i_can %><br />
    <%= f.text_area :so_i_can %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @story %> |
<%= link_to 'Back', stories_path %>
