<% content_for :javascript do -%>
  <%= javascript_include_tag "scriptaculous.js" %>
<% end -%>

<% content_for :header do -%>
Lista de estórias do Projeto <%= @project.name %>
<% end -%>

<style>
  li .handle  {
    font-size: 12px;
    cursor: move;
    color: #777;
  }
</style>

<ul id="stories">
<% for story in @stories  %>
  <% content_tag_for :li, story do %>
    <h3>
      <span class="handle">
        <%= h story.title %>&nbsp;(<%= link_to  "ver", edit_project_story_path(@project, story) %>)
        (<%= link_to 'excluir', project_story_path(@project, story), :confirm => 'confirma ?', :method => :delete %>)
      </span>
    </h3>
    <p><strong>As a: </strong><%=h story.as_a %></p>
    <p><strong>I want to: </strong><%=h story.i_want_to %></p>
    <p><strong>So I can: </strong><%=h story.so_i_can %></p>
    <% estimate = story.estimate.nil? ? "ainda não estimado" : story.estimate.to_s %>
    <p><strong>Estimativa: </strong><span id='<%= "estimate_me_#{story.id}" %>'><%=estimate%></span></p>
    <p><%= link_to 'tasks', project_story_tasks_path(@project, story) %></p>
    &nbsp;

  <% end %>
<% end %>
</ul>
<%= sortable_element("stories", :url => sort_project_stories_path, :handle => "handle") %>


<br /><br />

<%= link_to 'nova estória', new_project_story_path(@project) %>
<%= link_to 'voltar', project_path(@project) %>




<script type="text/javascript">
<% for story in @stories  %>
 new Ajax.InPlaceCollectionEditor('<%= "estimate_me_#{story.id}" %>', '<%= estimate_project_story_path(@project, story) %>', { collection: [["0", 0],["1", 1],["2", 2],["3", 3],["5", 5],["8", 8],["13", 13],["20", 20],["40", 40],["100", 100]], ajaxOptions: {method: 'post'} } );
<%end%>
</script>
