<% content_for :javascript do -%>
  <%= javascript_include_tag "event_delegation.js", "editable.js" %>
<% end -%>

<% content_for :header do -%>
Lista de estórias do Projeto <%= @project.name %>
<% end -%>

<style>
  li .handle  {
    font-size: 12px;
    cursor: move;
    color: #777;
  }
</style>

<ul id="stories">
<% for story in @stories  %>
  <% content_tag_for :li, story do %>
    <h3>
      <span class="handle">
        <%= h story.title %>&nbsp;(<%= link_to  "ver", edit_project_story_path(@project, story) %>)
        (<%= link_to 'excluir', project_story_path(@project, story), :confirm => 'confirma ?', :method => :delete %>)
      </span>
    </h3>
    <p><strong>As a: </strong><%=h story.as_a %></p>
    <p><strong>I want to: </strong><%=h story.i_want_to %></p>
    <p><strong>So I can: </strong><%=h story.so_i_can %></p>
    <% story.estimate = story.estimate.nil? ? 0 : story.estimate %>
    <p><strong>Estimativa: </strong><%= edit_in_place(story, :estimate, :url => estimate_project_story_path(@project, story), :id => "story[estimate]") -%></p>
    &nbsp;

  <% end %>
<% end %>
</ul>
<%= sortable_element("stories", :url => sort_project_stories_path, :handle => "handle") %>


<br /><br />

<%= link_to 'nova estória', new_project_story_path(@project) %>
<%= link_to 'voltar', project_path(@project) %>
