<% content_for :header do -%>
	New story
<% end -%>

<% form_for([@project,@story]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :as_a %><br />
    <%= f.text_field :as_a %>
  </p>
  <p>
    <%= f.label :i_want_to %><br />
    <%= f.text_field :i_want_to %>
  </p>
  <p>
    <%= f.label :so_i_can %><br />
    <%= f.text_field :so_i_can %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', project_stories_path(@project) %>
