<p>
  <b>Title:</b>
  <%=h @story.title %>
</p>

<p>
  <b>As a:</b>
  <%=h @story.as_a %>
</p>

<p>
  <b>I want to:</b>
  <%=h @story.i_want_to %>
</p>

<p>
  <b>So i can:</b>
  <%=h @story.so_i_can %>
</p>


<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
