<% content_for :header do -%>
	Story
<% end -%>

<p>
  <b>Title:</b>
  <%=h @story.title %>
</p>

<p>
  <b>As a:</b>
  <%=h @story.as_a %>
</p>

<p>
  <b>I want to:</b>
  <%=h @story.i_want_to %>
</p>

<p>
  <b>So i can:</b>
  <%=h @story.so_i_can %>
</p>

<p><%= link_to 'tasks', project_story_tasks_path(@project, @story) %> |
<%= link_to 'editar', edit_project_story_path(@project,@story) %> |
<%= link_to 'voltar', project_stories_path(@project) %> </p>
