<% content_for :header do -%>
  Página do Projeto <%= @project.name %>
<% end -%>

<p>
  <b>Titulo:</b>
  <%=h @wiki.title %>
</p>

<p>
  <b>Texto:</b>
  <br />
  <%= write_redCloth(@wiki.body) %>
</p>


<%= link_to 'editar', edit_project_wiki_path(@project, @wiki) %> |
<%= link_to 'voltar', project_wikis_path(@project) %>
