<% content_for :header do -%>
	Gerenciar usuários do Projeto <%= @project.name %>
<% end -%>


<% form_tag :action => "create" do |f| %>
	<p>	<%= hidden_field_tag 'pid', @project.id %></p>

	<table>
	 <tr>
		<th></th>
    <th>Usuário</th>
    <th>Tipo</th>
  </tr>

	<% for user in @users %>
		<% project_user = get_project_user_by_user(@project_users, user) %>
		<% selected_type = project_user.nil? ? "PO" : project_user.user_type %>
		<tr>
		  <td>
				<input type="checkbox" value="<%=user.id%>" id="user_id<%=user.id%>" name="user_id<%=user.id%>" <%= "checked" unless project_user.nil? %> />
		  <td><%=h user.login %></td>
		  <td>
		  	<%= select( "user_type", user.id, { "Product Owner" => "PO", "Scrum Master" => "SM", "Team Member" => "TM"}, { :selected => selected_type }) %>
</td>
		</tr>
	<% end %>
	</table>
  <p>
    <%= submit_tag "salvar" %>
  </p>
<% end %>


<%= link_to 'voltar', projects_path %>
