<% content_for :header do -%>
	Usuários do Projeto <%= @project.name %>
<% end -%>


<table>
  <tr>
    <th>Usuário</th>
    <th>Tipo</th>
  </tr>

<% for project_users in @project_users %>
  <tr>
    <td><%=h project_users.user.login %></td>
    <td><%=h project_users.user_type %></td>
    <td><%= link_to 'remover', project_project_users_path(@project), :confirm => 'Confirma?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'editar', editing_project_project_users_path(@project) %>
