<h1>New project_users</h1>

<% form_tag :action => "create" do |f| %>
	<%= hidden_field_tag 'pid', @project.id %>
	<table>
	<% for user in @users %>
		project_user = get_project_user_by_user(@project_users, user)
		<tr>
		  <td><%= check_box("user_id#{user.id}", ('checked' unless project_user.nil?)) %></td>
		  <td><%=h user.login %></td>
		  <td><%= text_field_tag "user_type#{user.id}", project_user.user_type unless project_user.nil?, {:maxlength => 2} %></td>
		</tr>
	<% end %>
	</table>
  <p>
    <%= submit_tag "Add" %>
  </p>
<% end %>


<%= link_to 'Back', :controller => "project_users", :action => "index", :pid => @project.id %>
