<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title><%= configatron.site_name %></title>
	
	<%= stylesheet_link_merged :dialog %>
  	<%= javascript_include_merged :base %>
  
</head>

<body>

  <div id="main">

	<div id="left">
		
	<h2 class="head"><%= yield_or_default yield(:header), "Use 'content_for :header do; end' in your view to set this title" %></h2>
	
     <%= flash_message %>

      <div id="screen">
        <%= yield %>
      </div>
    </div>

  </div>
  <div id="footer">
    <%= configatron.site_name %> by <%= configatron.company_name %><br />
	Copyright © <%= configatron.company_name %>
  </div>


</body>
</html>
